body {
  margin: 0;
  padding: 0;
}

.container, .menu, main {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-flow: row nowrap;
}

.menu {
  position: absolute;
  width: 300px;
  transform: translate(-300px, 0);
  transition: transform 0.3s ease;
/**/
  background-color: green;
}

.menu.open {
  transform: translate(0, 0);
}

a svg {
  width: 40px;
  fill: #000;
}

main {
  background-color: blue;
  height: 100%;
  flex-grow: 1;
}

@media screen and (min-width: 600px) {
  .menu {
    position: relative;
    transform: translate(0, 0);
  }
}
