@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
	border:none;
	outline:none;
	list-style:none;
	color:inherit;
	font-family:
	font-family: 'PT Sans', sans-serif;
	text-decoration:none;	
}
body {
	margin:0;
	padding:0;	
	background:#0e83cd;
}
.clear {
	clear:both;	
}
/*****************************************/
.container {
	width:100%;
	margin:0 auto;
	padding:0 0px 150px 0px;	
}
.header{
	background:#303030;
	width:100%;
	margin:0 auto;
	padding:13px 0px 10px 0px;		
}
.logo-box{
	width:200px;
	margin:0px;
	float:left;
	padding:0px 0px 0px 35px;	
}
.link-box{
	width:130px;
	margin:0px;
	float:right;
	padding:10px 35px 0px 0px;	
}
.link-box a, .link-box a:hover{
	font-family: 'PT Sans', sans-serif;
	font-size:16px;
	color:#a8a8a8;
	text-decoration:none;
}
.link-box a span {
	font-family: 'PT Sans', sans-serif;
	font-size:16px;
	color:#fff;
	text-decoration:none;
}
.title-box {
	background:#eeeeee;
	border-bottom:2px solid #c7c7c7;
	width:100%;
	margin:0px;
	padding:0px;	
}
.title-box h2{
	font-family: 'PT Sans', sans-serif;
	font-size:24px;
	color:#303030;
	font-weight:normal;
	text-align:center;
	text-transform:uppercase;
	margin:0px;
	padding:28px 0px 20px 0px;	
}
/************************************************************/
.comp-box {
	width:391px;
	margin:0 auto;
	margin-top:105px;
}
.inner-contBox {
	background:#ededed;
	float:left;
	width:100%;
}
.form-title {
	width:366px;
	background:#e1e1e1;
	padding:25px 0px 20px 25px;
}
.form-title h2{
	font-family: 'Droid Sans', sans-serif;
	font-size:20px;
	color:#505050;
	font-weight:normal;
	text-align:left;
	padding:0px 0px 0px 0px;	
}
.border-line{
	border-bottom:1px solid #cecece; 
}
.formCont-Box {
	padding:12px 0px 0px 0px;
	float:left;
	width:100%;
}
.error-box {
	display:block;
	padding:0px 0px 5px 0px;
	float:left;
	width:100%;
}
.error-box .error-box-left{
	background:url(../images/errorBox-left.png)	left top no-repeat;
	width:5px;
	height:20px;
	margin:0px;
	padding:0px;
	float:left;
}
.error-box .error-box-mid{
	background:url(../images/errorBox-mid.png)	left top repeat-x;
	height:20px;
	margin:0px;
	padding:0px;
	
}
.error-box .error-box-mid h3{
	background:url(../images/error-icon.png) left 4px no-repeat;
	height:28px;
	padding:4px 0px 0px 0px;
	font-family: 'Droid Sans', sans-serif;
	font-size:11px;
	color: #F00;
	font-weight:normal;
}
.error-box .error-box-right{
	background:url(../images/errorBox-right.png) left top no-repeat;
	width:5px;
	height:20px;
	margin:0px;
	padding:0px;
	float:left;
}
.error-box h2{
	background:url(../images/error-icon.png) left top no-repeat;
	height:20px;
	padding:3px 0px 0px 30px;
	font-family: 'Droid Sans', sans-serif;
	font-size:11px;
	color:#fff;
	font-weight:normal;
	text-align:left;		
}
.formCont-Box ul{
   float: left;
    padding: 0 0 0 7%;
    width:93%;
}
.formCont-Box ul.second{
	border-top:1px solid #cecece;
}
.formCont-Box ul li{
	margin:0px;
	list-style:none;
	padding:0px 0px 0px 0px;
	margin:9px 0 0 0;
	float:left;
	width:100%;	
}
.formCont-Box ul li input.textbg1{
	background:url(../images/user.png) right center no-repeat #fff;
	border:1px solid #dbdbdb;
 	width:280px;
	height:34px;
	margin:0px;
	padding:0px 40px 0px 10px;
	margin:0px 0px 0px 0px;
	font-family: 'Droid Sans', sans-serif;
	font-size:12px;
	color:#303030;	
}
.formCont-Box ul li input.textbg2{
	background:url(../images/mail.png) right center no-repeat #fff;
	border:1px solid #dbdbdb;
 	width:280px;
	height:34px;
	margin:0px;
	padding:0px 40px 0px 10px;
	margin:0px 0px 0px 0px;
	font-family: 'Droid Sans', sans-serif;
	font-size:12px;
	color:#303030;	
}
.formCont-Box ul li input.textbg3{
	background:url(../images/password.png) right center no-repeat #fff;
	border:1px solid #dbdbdb;
 	width:280px;
	height:34px;
	margin:0px;
	padding:0px 40px 0px 10px;
	margin:0px 0px 0px 0px;
	font-family: 'Droid Sans', sans-serif;
	font-size:12px;

	color:#303030;	
}
div.lname{ width:166px; display:table-cell; text-align:right;}
.formCont-Box ul li input.firstname{
	background:#fff;
	border:1px solid #dbdbdb;
 	width:130px;
	height:34px;
	margin:0px;
	padding:0px 0px 0px 10px;
	font-family: 'Droid Sans', sans-serif;
	font-size:12px;
	color:#303030;
	float:left;	
}
.formCont-Box ul li input.lastname{
	background:#fff;
	border:1px solid #dbdbdb;
 	width:122px;
	height:34px;
	margin:0px;
	padding:0px 0px 0px 10px;
	font-family: 'Droid Sans', sans-serif;
	font-size:12px;
	color:#303030;
	float:left;
	margin:0px;
}
.formCont-Box ul li input.last {}
.formCont-Box ul li input.textbg4{
	background:url(../images/select-down.png) right center no-repeat #fff;
	border:1px solid #dbdbdb;
 	width:290px;
	height:34px;
	margin:0px;
	padding:0px 40px 0px 10px;
	margin:0px 0px 0px 0px;
	font-family: 'Droid Sans', sans-serif;
	font-size:12px;
	color:#303030;	
}
.formCont-Box ul li input.check{
	display:none;
}
.formCont-Box ul li label.label {
	background:url(../images/checkbox-unAct.png) left top no-repeat;
 	padding:5px 0px 3px 30px;
	font-family: 'Droid Sans', sans-serif;
	font-size:12px;
	cursor:pointer;
	color:#303030;		
}
.formCont-Box ul li label.sellabel{
	background:url(../images/checkbox-Act.png) left top no-repeat;	
}
.formCont-Box ul li .seleWrapper{
/*	background:url(../images/select-down.png) right center no-repeat #fff;
	border:1px solid #dbdbdb;
 	width:340px;
	height:34px;
	margin:0px;
	padding:0px;
	margin:0px 0px 0px 0px;
	font-family: 'Droid Sans', sans-serif;
	font-size:12px;
	color:#303030;
	margin-top:-21px;*/
}

.formCont-Box ul li .seleWrapper select{
 	width:300px;
	height:34px;
	margin:0px;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	font-family: 'Droid Sans', sans-serif;
	font-size:12px;
	color:#303030;
	opacity:0;
	margin-left:-2px;	
}
.formCont-Box ul li .seleWrapper select#gender option{
	
 	
	height:34px;
	margin:0px;
	padding:0px 0px 0px 10px;
	margin:0px 0px 0px 0px;
	font-family: 'Droid Sans', sans-serif;
	font-size:12px;
	color:#303030;
	border:none;
	border:0;
	background:transparent;
	
		
}


span#genderSelection{
	margin:0px;
	padding:0px 0px 0px 10px;
	margin:0px 0px 0px 0px;
	font-family: 'Droid Sans', sans-serif;
	font-size:12px;
	color:#B2B2B2;
	border:none;
	position:relative;
	top:6px;
}

.first {
	margin:0 auto;
	margin-bottom:25px;
}
.second {
	margin:0 auto;
}
.footer-cont {
	background:#e1e1e1;
	border-top:1px solid #cecece;
	float:left;
	width:100%;
	padding:15px 0;
}
.footer-cont input.submit{
	background:#0e83cd;
	width:105px;
	height:38px;
	display:block;
	position:relative;
	float:right;
	right:17px;
	font-family: 'Droid Sans', sans-serif;
	font-size:16px;
	cursor:pointer;
	text-align:center;
	color:#fff;

}
input.hidden{
	 float:right; opacity:0;
	 -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";

	}
.fname{

	width:174px;
	display:table-cell;
}
.lname{
	display:table-cell;
	padding-left:23px;

}
.form-inner{
	float:left;
	width:100%;
	background:#0365a4;
	padding:6px;
}
.seleWrapper .error-box{
}
li.news{
	margin-top:2px !important;
}
.error{
	border:1px solid #F00 !important;
	box-shadow:0 0 5px 2px #EDA6A6;
}



.error-box {
    float: right;
    width: 24px;
	position:relative;
	right:3px;
}
.error1 {
    background: url("../images/error-icon.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    height: 28px;
}
.right {
    background: url("../images/right-icon.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    height: 28px;
}

#policy .error{
	
	box-shadow:none!important;
	margin-top: -7px !important;
}

/* 
	Required Styles
*/
#aToolTip {
	position: absolute;
	display: none;
	z-index: 50000;
}

	#aToolTip .aToolTipContent {
		position:relative;
		margin:0;
		padding:0;
	}
/* 
	END: Required Styles
*/
/**
	Default Theme
*/
.defaultTheme {
	border:2px solid #444;
	background:#555;
	color:#fff;
	margin:0;
	padding:6px 12px;	
	
	-moz-border-radius: 12px 12px 12px 0;
	-webkit-border-radius: 12px 12px 12px 0;
	-khtml-border-radius: 12px 12px 12px 0;
	border-radius: 12px 12px 12px 0;
	
	-moz-box-shadow: 2px 2px 5px #111; /* for Firefox 3.5+ */
	-webkit-box-shadow: 2px 2px 5px #111; /* for Safari and Chrome */
	box-shadow: 2px 2px 5px #111; /* for Safari and Chrome */
}
	
	.defaultTheme #aToolTipCloseBtn {
		display:block;
		height:18px;
		width:18px;
		background:url(../images/closeBtn.png) no-repeat;
		text-indent:-9999px;
		outline:none;
		position:absolute;
		top:-20px;
		right:-30px;
		margin:2px;
		padding:4px;
	}
#policy{ position:relative;}
#policy	 .error-box{ float:right; position:relative; right:135px; top:-13px;}
#policy .elementWrapper .error{ border:none!important;}
.btn-8f:after {
    background: none repeat scroll 0 0 #49A7DF;
    height: 40%;
    left: 0;
    top: 100%;
    transform: rotateX(-90deg);
    transform-origin: 0 0 0;
    width: 100%;
}
.btn-8f:active {
    transform: rotateX(0deg);
}
.btn-8g {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #999999;
}
.btn-8g:active {
    background: none repeat scroll 0 0 #FFFFFF;
}
.btn-8g:after, .btn-8g:before {
    height: 100%;
    left: 0;
    line-height: 70px;
    position: absolute;
    text-transform: capitalize!important;
    width: 100%;
}
.btn-8g:after {
    background: none repeat scroll 0 0 #7ACA7C;
    color: #358337;
    content: "It worked!";
    top: -100%;
    transform: rotateX(90deg);
    transform-origin: 0 100% 0;
}
.btn-8g:before {
    background: none repeat scroll 0 0 #E96A6A;
    color: #A33A3A;
    content: "Error!";
    font-family: 'Lato',Calibri,Arial,sans-serif;
    font-weight: 700;
    top: 100%;
    transform: rotateX(-90deg);
    transform-origin: 0 0 0;
}
.btn-8g.btn-success3d {
    background: none repeat scroll 0 0 #AAAAAA;
    transform: rotateX(-90deg) translateY(100%);
    transform-origin: 50% 100% 0;
}
.btn-8g.btn-error3d {
    background: none repeat scroll 0 0 #AAAAAA;
    transform: rotateX(90deg) translateY(-100%);
    transform-origin: 50% 0 0;
}
.displ-tbl{ display:table-cell;}

.submitBtn{
	    background: none repeat scroll 0 0 #0e83cd !important;
    color: #FFFFFF !important;
    cursor: pointer;
    display: block;
    float: right;
    font-family:'Droid Sans',sans-serif ;
    font-size: 16px !important;
    height: 38px;
    position: relative;
    right: 19px;
    text-align: center;
    top:0px;
	
    width: 105px !important;
	vertical-align:central !important;
	
	}
	
.btn-8{
	font-family:'Droid Sans',sans-serif ;
	 padding: 8px 0px !important;
	/* text-transform:none !important;*/
	 font-weight:normal !important;
	}
.btn-success3d{
	font-family:'Droid Sans',sans-serif ;
	
	 text-transform:none !important;
	 font-weight:normal !important;
	}
.btn-8g:after{ line-height:35px !important; 
	}
.btn-8g:after, .btn-8g:before{ line-height:38px !important;}	
.btn-8.btn-8g :before{line-height:none !important;}	
.btn-8 {padding:8px 0px!important; font-family: 'Droid Sans', sans-serif!important; font-size: 16px!important; text-transform:capitalize!important;}
.btn-8g.btn-success3d,.btn-8g:before { font-family: 'Droid Sans', sans-serif!important; font-size: 16px!important; text-transform:capitalize!important;}

	#logo{
	float:left;
	width:100%;
	background:#303030;
	text-align:center;
	}
	
#logo img{
	display:block;
	margin:10px 0 0 20px;
	}
